.reg-form
{
    min-width: 600px;
    margin-top: -50px;
}

.form-field
{
    padding-bottom: 20px;
}

.regit-head
{
    padding-bottom: 10px;
    font-weight: bold;
}

.mandatory-sign
{
    color: red;
}

.error-text
{
    color: red;
    text-align: right;
}

.form-control-or
{
    height: 30px;
}

.skill-add-del-btn
{
    color: rgb(173, 170, 170);
    font-size: 30px;
    cursor: pointer;
}

.bob
{
    margin: 10px;
    width: 120px;
}